<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Category</key>
	<array>
		<string>GCD&amp;Block</string>
		<string>RunLoop</string>
		<string>RunTime</string>
		<string>ProgressView</string>
		<string>ChartView</string>
		<string>CoreAnimation</string>
	</array>
	<key>GCD&amp;Block</key>
	<array>
		<dict>
			<key>description</key>
			<string>block的循环引用问题</string>
			<key>main_vc</key>
			<string>YHRecycleRetainViewController</string>
			<key>read_me</key>
			<string>Read_me_GCD_Recycle_Retain</string>
		</dict>
	</array>
	<key>RunLoop</key>
	<array>
		<dict>
			<key>description</key>
			<string>Demo1</string>
			<key>main_vc</key>
			<string>YHRunloopDemo1ViewController</string>
			<key>read_me</key>
			<string>Read_me_RunloopDemo1</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Demo2</string>
			<key>main_vc</key>
			<string>YHRunloopDemo2ViewController</string>
			<key>read_me</key>
			<string>Read_me_RunloopDemo2</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Demo3</string>
			<key>main_vc</key>
			<string>YHRunloopDemo3ViewController</string>
			<key>read_me</key>
			<string>Read_me_RunloopDemo3</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Demo4</string>
			<key>main_vc</key>
			<string>YHRunloopDemo4ViewController</string>
			<key>read_me</key>
			<string>Read_me_RunloopDemo4</string>
		</dict>
	</array>
	<key>RunTime</key>
	<array>
		<dict>
			<key>description</key>
			<string>Demo1</string>
			<key>main_vc</key>
			<string>YHRunTimeDemo1ViewController</string>
			<key>read_me</key>
			<string>Read_me_RunTimeDemo1</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Demo2</string>
			<key>main_vc</key>
			<string>YHRunTimeDemo2ViewController</string>
			<key>read_me</key>
			<string>Read_me_RunTimeDemo2</string>
		</dict>
	</array>
	<key>ProgressView</key>
	<array>
		<dict>
			<key>description</key>
			<string>圆环进度条</string>
			<key>main_vc</key>
			<string>YHCircleProgressDemo1ViewController</string>
			<key>read_me</key>
			<string>Read_me_CircleProgressDemo1</string>
		</dict>
	</array>
	<key>ChartView</key>
	<array>
		<dict>
			<key>description</key>
			<string>图表</string>
			<key>main_vc</key>
			<string>YHChartDemoViewController</string>
			<key>read_me</key>
			<string>Read_me_ChartViewDemo</string>
		</dict>
	</array>
	<key>CoreAnimation</key>
	<array>
		<dict>
			<key>description</key>
			<string>1</string>
			<key>main_vc</key>
			<string>YHCoreAnimationViewController</string>
			<key>read_me</key>
			<string>Read_me_CoreAnimationDemo</string>
		</dict>
	</array>
</dict>
</plist>
